.DS_Store
.idea
*.log
*.zip
*.gz
*.pdf
*.json
*.pkl
*.swp
*.jou
*.root
thresholds*.yaml
*.patch
tmp/
address_table/*
!address_table/generic
!address_table/generic/*
!address_table/generic/modules/*
__pycache__
lpgbt_cal_*.json
*.parquet
tamalero.egg-info
