.DS_Store
.idea
*.log
*.zip
*.gz
*.pdf
*.png
*.json
*.dat
*.pkl
*.swp
*.jou
tmp/
address_table/*
!address_table/generic
!address_table/generic/*
!address_table/generic/modules/*
__pycache__
lpgbt_cal_*.json
*.parquet
